#setupContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'leftSide rightSide'
    'loverLeftSide rightSide';
    grid-gap: 1px;
}

#bb {
  grid-area: leftSide;
  background: red;
}

#wMachine {
  grid-area: rightSide;
  background: rgb(96,54,5);
}

#killTeam {
  grid-area: loverLeftSide;
  background: black;
}

.greybackgroud {
  background: grey;
  padding: 10px;
}
